Repository morph-l2/morph, pull requests merged in 2024-02, with the labels that each got.

#47 Recalculate parent batchHash
  .github/workflows/contracts.yml
  contracts/contracts/L1/rollup/Rollup.sol
Labels: bug, contracts

#49 fix parent batch hash calculation when parent batch has blob
  contracts/contracts/L1/rollup/Rollup.sol
Labels: bug, contracts

#63 Delete rollup historical data
  contracts/contracts/L1/rollup/Rollup.sol
Labels: contracts

#14 Derivation adapt eip4844
  node/derivation/base_client.go
  node/derivation/beacon.go
  node/derivation/blob_type.go
  node/derivation/blobs.go
  node/derivation/config.go
  node/derivation/derivation.go
  node/derivation/derivation_test.go
  node/flags/flags.go
  node/ops-morph/docker-compose-validator.yml
  node/types/chunk.go
  node/validator/validator_test.go
  ops/devnet-morph/devnet/__init__.py
  ops/docker/.env
  ops/docker/docker-compose-4nodes.yml
Labels: node
