Repository morph-l2/morph, pull requests merged in 2024-12, with the labels that each got.

#684 Add prover workflow
  .github/workflows/prover.yml
  prover/Makefile
  prover/bin/server/src/lib.rs
  prover/crates/core/src/batch.rs
  prover/crates/core/src/database.rs
  prover/crates/core/src/error.rs
  prover/crates/core/src/executor/builder.rs
  prover/crates/core/src/executor/hooks.rs
  prover/crates/core/src/hardfork.rs
  prover/crates/morph-executor/host/src/zstd_util.rs
  prover/crates/primitives/src/lib.rs
  prover/crates/primitives/src/types/mod.rs
  prover/crates/primitives/src/types/tx.rs
  prover/crates/utils/src/metrics/registry.rs
  prover/crates/utils/src/utils/debug.rs
  prover/tests/algebra/client/elf/riscv32im-succinct-zkvm-elf
  prover/tests/bls12381/client/elf/riscv32im-succinct-zkvm-elf
  prover/tests/bls12381/host/src/main.rs
  prover/tests/keccak256/client/elf/riscv32im-succinct-zkvm-elf
  prover/tests/keccak256/host/src/main.rs
  prover/tests/zstd/client/elf/riscv32im-succinct-zkvm-elf
  prover/tests/zstd/host/src/main.rs
Labels: prover

#694 [Lido Audit OZ]: Replace require to revert
  contracts/contracts/lido/L1LidoGateway.sol
  contracts/contracts/lido/L2LidoGateway.sol
  contracts/contracts/lido/L2WstETHToken.sol
  contracts/contracts/lido/LidoBridgeableTokens.sol
Labels: contracts

#695 [Lido Audit OZ]: Optimize state read
  contracts/contracts/lido/L1LidoGateway.sol
  contracts/contracts/lido/L2LidoGateway.sol
Labels: contracts

#696 [Lido Audit OZ]: Incorrect documentation fix
  contracts/contracts/lido/L2LidoGateway.sol
  contracts/contracts/lido/LidoGatewayManager.sol
Labels: contracts

#697 [Lido Audit OZ]: Update lido questionnaire
  contracts/contracts/lido/README.md
Labels: documentation, contracts
