Repository morph-l2/morph, pull requests merged in 2024-06, with the labels that each got.

#298 Decentralized Submiter V2
  .gitignore
  ops/docker/docker-compose-4nodes.yml
  tx-submitter/entry.go
  tx-submitter/flags/flags.go
  tx-submitter/iface/client.go
  tx-submitter/iface/rollup.go
  tx-submitter/services/rollup.go
  tx-submitter/services/rotator.go
  tx-submitter/utils/config.go
Labels: tx-submitter, go

#357 Fix l1 chainID to 900
  contracts/hardhat.config.ts
Labels: bug, contracts

#356 Clean default validator privateKey
  node/flags/flags.go
Labels: release/0.1.x

#353 Feat: Async tx for rollup and finalize
  ops/devnet-morph/devnet/__init__.py
  ops/docker/docker-compose-4nodes.yml
  tx-submitter/.gitignore
  tx-submitter/entry.go
  tx-submitter/services/pendingtx.go
  tx-submitter/services/rollup.go
  tx-submitter/utils/utils.go
  tx-submitter/utils/utils_test.go
Labels: tx-submitter, go

#350 feat(gas-oracle): use ethers's provider instead of ExecutionNode
  gas-oracle/app/src/gas_price_oracle.rs
  gas-oracle/app/src/overhead/blob_client.rs
  gas-oracle/app/src/overhead/calculate.rs
  gas-oracle/app/src/overhead/error.rs
  gas-oracle/app/src/overhead/overhead.rs
Labels: gas-oracle, test

#359 Async tx for rollup and finalize
  ops/devnet-morph/devnet/__init__.py
  tx-submitter/.gitignore
  tx-submitter/entry.go
  tx-submitter/iface/rollup.go
  tx-submitter/services/pendingtx.go
  tx-submitter/services/rollup.go
  tx-submitter/services/utils.go
  tx-submitter/utils/utils.go
  tx-submitter/utils/utils_test.go
Labels: tx-submitter, go

#362 Fix pi hash
  bindings/bin/rollup_deployed.hex
  bindings/bindings/rollup.go
  contracts/contracts/l1/rollup/Rollup.sol
  contracts/contracts/libraries/verifier/plonk-verifier/local/plonk_verifier_0.10.3.bin
  contracts/contracts/libraries/verifier/plonk-verifier/qanetl1/plonk_verifier_0.10.3.bin
  prover/shadow-proving/contract/.gitignore
  prover/shadow-proving/contract/bytecode/ShadowRollup.json
  prover/shadow-proving/contract/contracts/ShadowRollup.sol
  prover/shadow-proving/contract/contracts/libs/plonk-verifier/local/plonk_verifier.bin
  prover/shadow-proving/contract/contracts/libs/plonk-verifier/qanetl1/plonk_verifier.bin
  prover/shadow-proving/contract/package.json
Labels: bug, contracts

#368 Optim submitter
  tx-submitter/entry.go
  tx-submitter/flags/flags.go
  tx-submitter/metrics/metrics.go
  tx-submitter/services/rollup.go
  tx-submitter/services/utils.go
  tx-submitter/utils/config.go
Labels: tx-submitter, go

#369 add fee metrics
  tx-submitter/flags/flags.go
  tx-submitter/metrics/metrics.go
  tx-submitter/services/rollup.go
  tx-submitter/services/utils.go
  tx-submitter/utils/config.go
Labels: tx-submitter, go

#371 update fee calc logic
  tx-submitter/services/rollup.go
  tx-submitter/services/utils.go
Labels: tx-submitter, go

#373 fix clippy & optimization
  contracts/contracts/libraries/verifier/plonk-verifier/l1/plonk_verifier_0.10.3.bin
  contracts/integration-test/ZkEvmVerifierV1.spec.ts
  contracts/integration-test/testdata/plonk_verifier_0.10.3_pi.data
  contracts/integration-test/testdata/plonk_verifier_0.10.3_proof.data
  prover/Makefile
  prover/challenge-handler/src/bin/auto_challenge.rs
  prover/challenge-handler/src/handler.rs
  prover/challenge-handler/src/main.rs
  prover/challenge-handler/src/util.rs
  prover/shadow-proving/src/main.rs
  prover/shadow-proving/src/shadow_prove.rs
  prover/shadow-proving/src/shadow_rollup.rs
  prover/shadow-proving/src/util.rs
  prover/src/bin/prover_server.rs
  prover/src/prover.rs
  prover/src/utils.rs
  prover/tests/gen_tx_trace.rs
Labels: enhancement, prover

#354 Add metrics.SetL1SyncHeight for every batch log
  node/derivation/derivation.go
Labels: release/0.1.x

#383 Ignore genesis batch
  node/derivation/derivation.go
  node/types/errors.go
Labels: release/0.1.x

#382 Update yml version
  node/ops-morph/docker-compose-validator.yml
  node/ops-morph/docker-compose.yml
  ops/docker/docker-compose-4nodes.yml
  tx-submitter/docker-compose-testnet.yml
  tx-submitter/docker-compose.yml
Labels: release/0.1.x
