Repository morph-l2/morph, pull requests merged in 2024-10, with the labels that each got.

#558 Audit: Challenge state with batch header
  bindings/bin/rollup_deployed.hex
  bindings/bindings/rollup.go
  bindings/bindings/rollup_more.go
  contracts/contracts/l1/rollup/Rollup.sol
  node/validator/validator.go
Labels: bug, contracts, bindings, audit_issue_fix

#561 Audit: Revert batch check batch in challenge
  contracts/contracts/l1/rollup/Rollup.sol
Labels: bug, contracts, audit_issue_fix

#562 Audit: L1ReverseGateway mint token when drop message
  contracts/contracts/l1/gateways/L1ReverseCustomGateway.sol
Labels: bug, contracts, audit_issue_fix

#564 Audit: Add Event
  contracts/contracts/l1/gateways/EnforcedTxGateway.sol
  contracts/contracts/l1/rollup/IRollup.sol
  contracts/contracts/l1/rollup/Rollup.sol
  contracts/contracts/l2/system/GasPriceOracle.sol
Labels: contracts

#563 Audit: Update rollup for proof reward
  contracts/contracts/l1/rollup/IRollup.sol
  contracts/contracts/l1/rollup/Rollup.sol
  contracts/contracts/test/base/CommonTest.t.sol
  contracts/contracts/test/base/L1MessageBase.t.sol
  contracts/deploy/016-RollupInit.ts
  contracts/src/deploy-config/holesky.ts
  contracts/src/deploy-config/l1.ts
  contracts/src/deploy-config/qanetl1.ts
  contracts/src/deploy-config/testnetl1.ts
Labels: bug, contracts, audit_issue_fix

#540 Fix claim reward
  bindings/bin/distribute_deployed.hex
  bindings/bin/l2staking_deployed.hex
  bindings/bindings/distribute.go
  bindings/bindings/distribute_more.go
  bindings/bindings/l2staking.go
  bindings/bindings/l2staking_more.go
  contracts/contracts/l2/staking/Distribute.sol
  contracts/contracts/l2/staking/IDistribute.sol
  contracts/contracts/l2/staking/L2Staking.sol
  contracts/contracts/test/L2Staking.t.sol
Labels: bug, contracts

#568 Add unit test for L2 contracts
  contracts/contracts/test/L2CrossDomainMessenger.t.sol
  contracts/contracts/test/L2CustomERC20Gateway.t.sol
  contracts/contracts/test/L2ERC1155Gateway.t.sol
  contracts/contracts/test/L2ERC721Gateway.t.sol
  contracts/contracts/test/L2ETHGateway.t.sol
  contracts/contracts/test/L2GatewayRouter.t.sol
  contracts/contracts/test/L2StandardERC20Gateway.t.sol
  contracts/contracts/test/L2TxFeeVault.t.sol
  contracts/contracts/test/L2WETHGateway.t.sol
Labels: contracts

#574 Modify update rewardStartTime logic
  bindings/bin/l2staking_deployed.hex
  bindings/bindings/l2staking.go
  bindings/bindings/l2staking_more.go
  contracts/contracts/l2/staking/L2Staking.sol
  contracts/contracts/test/L2Staking.t.sol
Labels: contracts

#577 Audit: Batch finalize window update
  bindings/bin/rollup_deployed.hex
  bindings/bindings/rollup.go
  bindings/bindings/rollup_more.go
  contracts/contracts/l1/rollup/Rollup.sol
Labels: bug, contracts, audit_issue_fix

#582 Add replay and drop message event
  bindings/bin/l1crossdomainmessenger_deployed.hex
  bindings/bindings/l1crossdomainmessenger.go
  bindings/bindings/l1crossdomainmessenger_more.go
  contracts/contracts/l1/IL1CrossDomainMessenger.sol
  contracts/contracts/l1/L1CrossDomainMessenger.sol
Labels: contracts, bindings

#584 Update L2 deployment, MorphToken
  ops/l2-genesis/morph-chain-ops/genesis/config.go
  ops/l2-genesis/morph-chain-ops/genesis/layer_two_test.go
  ops/l2-genesis/morph-chain-ops/genesis/setters.go
  ops/l2-genesis/morph-chain-ops/immutables/immutables.go
Labels: go

#575 Docs: Changing the name and link of the social network
  README.md
Labels: documentation

#592 mainnet l2 genesis configs and script update
  .gitignore
  ops/l2-genesis/deploy-config/mainnet-deploy-config.json
  ops/l2-genesis/mainnet-l2genesis.sh
Labels: ops

#609 Add lido bindings
  bindings/Makefile
  bindings/bin/l1lidogateway_deployed.hex
  bindings/bin/l2lidogateway_deployed.hex
  bindings/bin/l2wstethtoken_deployed.hex
  bindings/bindings/l1lidogateway.go
  bindings/bindings/l1lidogateway_more.go
  bindings/bindings/l2lidogateway.go
  bindings/bindings/l2lidogateway_more.go
  bindings/bindings/l2wstethtoken.go
  bindings/bindings/l2wstethtoken_more.go
Labels: bindings

#616 Check previous state root
  contracts/contracts/l1/rollup/Rollup.sol
  contracts/contracts/test/Rollup.t.sol
Labels: contracts, audit_issue_fix

#617 Revert ErrorVerifierNotFound
  contracts/contracts/l1/rollup/MultipleVersionRollupVerifier.sol
  contracts/contracts/l1/rollup/Rollup.sol
  contracts/contracts/test/MultipleVersionRollupVerifier.t.sol
Labels: audit_issue_fix
