Repository morph-l2/morph, pull requests merged in 2024-07, with the labels that each got.

#393 Add pending tx storage
  tx-submitter/.gitignore
  tx-submitter/entry.go
  tx-submitter/flags/flags.go
  tx-submitter/localpool/journal.go
  tx-submitter/localpool/journal_test.go
  tx-submitter/localpool/tx.go
  tx-submitter/services/pendingtx.go
  tx-submitter/services/rollup.go
  tx-submitter/utils/config.go
Labels: tx-submitter, go

#394 Update geth version
  Makefile
  bindings/go.mod
  bindings/go.sum
  contracts/go.mod
  contracts/go.sum
  go.work.sum
  node/derivation/beacon.go
  node/go.mod
  node/go.sum
  node/types/blob.go
  ops/l2-genesis/go.mod
  ops/l2-genesis/go.sum
  ops/tools/go.mod
  ops/tools/go.sum
  oracle/go.mod
  oracle/go.sum
  tx-submitter/go.mod
  tx-submitter/go.sum
Labels: dependencies, go

#401 Increase max chunks number to 45
  node/types/blob.go
  node/types/chunk.go
  node/types/chunk_test.go
Labels: node

#409 Submitter Optimize
  tx-submitter/flags/flags.go
  tx-submitter/services/rollup.go
  tx-submitter/utils/config.go
Labels: tx-submitter, go

#416 add rough gas estimate switch cfg
  tx-submitter/entry.go
  tx-submitter/flags/flags.go
  tx-submitter/services/rollup.go
  tx-submitter/utils/config.go
Labels: tx-submitter, go

#418 Add rough estimate gas cfg release
  tx-submitter/entry.go
  tx-submitter/flags/flags.go
  tx-submitter/services/rollup.go
  tx-submitter/utils/config.go
Labels: tx-submitter, go

#420 Update stakers store
  bindings/bin/l1staking_deployed.hex
  bindings/bin/rollup_deployed.hex
  bindings/bindings/enforcedtxgateway_more.go
  bindings/bindings/l1erc1155gateway_more.go
  bindings/bindings/l1erc721gateway_more.go
  bindings/bindings/l1reversecustomgateway_more.go
  bindings/bindings/l1staking.go
  bindings/bindings/l1staking_more.go
  bindings/bindings/l2reversecustomgateway_more.go
  bindings/bindings/rollup.go
  bindings/bindings/rollup_more.go
  bindings/bindings/whitelist_more.go
  contracts/contracts/l1/rollup/IRollup.sol
  contracts/contracts/l1/rollup/Rollup.sol
  contracts/contracts/l1/staking/IL1Staking.sol
  contracts/contracts/l1/staking/L1Staking.sol
  contracts/contracts/test/L1Staking.t.sol
  contracts/contracts/test/Rollup.t.sol
  node/go.mod
  oracle/go.mod
  tx-submitter/go.sum
  tx-submitter/services/rollup.go
Labels: contracts
