Repository morph-l2/morph, pull requests merged in 2024-05, with the labels that each got.

#280 Add test case & fix L1 staking
  contracts/contracts/L1/rollup/Rollup.sol
  contracts/contracts/L1/staking/L1Staking.sol
  contracts/contracts/test/L1Staking.t.sol
Labels: bug, contracts, test

#285 Store update time for sequencer set and rollup epoch
  contracts/contracts/L2/staking/Gov.sol
  contracts/contracts/L2/staking/Sequencer.sol
Labels: contracts, tx-submitter

#286 Update derivation metrics
  node/derivation/derivation.go
  node/derivation/metrics.go
Labels: release/0.1.x

#289 Update derivation metrics
  node/derivation/derivation.go
  node/derivation/metrics.go
Labels: release/0.1.x

#290 Fix cherry-pick action
  .github/workflows/cherry-pick.yml
Labels: release/0.1.x

#291 Fix cherry-pick action
  .github/workflows/cherry-pick.yml
Labels: release/0.1.x

#292 fix cherry pick workflow
  .github/workflows/cherry-pick.yml
Labels: release/0.1.x

#297 test: add some l1staking unit test
  contracts/contracts/L1/staking/L1Staking.sol
  contracts/contracts/test/L1Staking.t.sol
Labels: contracts, test

#294 Fix next batch submission index
  bindings/bin/record_deployed.hex
  bindings/bindings/record.go
  bindings/bindings/record_more.go
  contracts/contracts/l2/staking/Record.sol
  contracts/contracts/test/base/L2StakingBase.t.sol
  ops/l2-genesis/deploy-config/devnet-deploy-config.json
  ops/l2-genesis/op-chain-ops/genesis/config.go
  ops/l2-genesis/op-chain-ops/genesis/layer_two_test.go
  ops/l2-genesis/op-chain-ops/genesis/setters.go
Labels: contracts

#308 Audit ToB 05: Fix distribution and pruning
  contracts/contracts/l1/staking/L1Staking.sol
  contracts/contracts/l2/staking/Distribute.sol
Labels: bug, contracts, audit_issue_fix

#304 Audit ToB 06: Fix vote
  .github/workflows/node.yml
  contracts/contracts/l2/staking/Gov.sol
Labels: bug, contracts, audit_issue_fix

#301 Audit ToB 08: Delete challenge info when revert batch
  contracts/contracts/l1/rollup/Rollup.sol
Labels: bug, contracts, audit_issue_fix

#303 Audit ToB 09: Only the owner can withdraw Feevalult
  contracts/contracts/l2/system/L2TxFeeVault.sol
Labels: bug, contracts, audit_issue_fix

#300 Audit ToB 07: Set inchallenge to false when pause
  contracts/contracts/l1/rollup/Rollup.sol
Labels: bug, contracts, audit_issue_fix

#282 Audit ToB 01: Fix undelegate
  contracts/contracts/l2/staking/IL2Staking.sol
  contracts/contracts/l2/staking/L2Staking.sol
Labels: bug, contracts, audit_issue_fix

#275 Audit ToB 02: Fix remove staker
  contracts/contracts/l2/staking/L2Staking.sol
Labels: bug, contracts, audit_issue_fix

#281 Audit ToB 04: Fix reward claims
  contracts/contracts/l2/staking/Distribute.sol
Labels: bug, contracts, audit_issue_fix

#277 Audit ToB 03: Fix mint inflation
  bindings/bin/distribute_deployed.hex
  bindings/bin/gov_deployed.hex
  bindings/bin/l1staking_deployed.hex
  bindings/bin/l2staking_deployed.hex
  bindings/bin/l2txfeevault_deployed.hex
  bindings/bin/morphtoken_deployed.hex
  bindings/bin/record_deployed.hex
  bindings/bin/rollup_deployed.hex
  bindings/bindings/distribute.go
  bindings/bindings/distribute_more.go
  bindings/bindings/gov.go
  bindings/bindings/gov_more.go
  bindings/bindings/l1staking.go
  bindings/bindings/l1staking_more.go
  bindings/bindings/l2staking.go
  bindings/bindings/l2staking_more.go
  bindings/bindings/l2txfeevault.go
  bindings/bindings/l2txfeevault_more.go
  bindings/bindings/morphtoken.go
  bindings/bindings/morphtoken_more.go
  bindings/bindings/record.go
  bindings/bindings/record_more.go
  bindings/bindings/rollup.go
  bindings/bindings/rollup_more.go
  bindings/bindings/sequencer.go
  contracts/contracts/l2/staking/Distribute.sol
  contracts/contracts/l2/staking/IDistribute.sol
  contracts/contracts/l2/staking/IL2Staking.sol
  contracts/contracts/l2/staking/L2Staking.sol
  contracts/contracts/l2/staking/Record.sol
  contracts/contracts/l2/system/IMorphToken.sol
  contracts/contracts/l2/system/MorphToken.sol
  contracts/contracts/test/L2Staking.t.sol
  contracts/contracts/test/MorphToken.t.sol
Labels: bug, contracts, audit_issue_fix

#316 contract check lint
  .solhint.json
  .solhintignore
  contracts/contracts/l2/staking/Distribute.sol
  contracts/contracts/l2/staking/Gov.sol
  contracts/contracts/l2/staking/IRecord.sol
  contracts/contracts/l2/staking/ISequencer.sol
  contracts/contracts/l2/staking/Record.sol
  contracts/contracts/l2/staking/Sequencer.sol
  contracts/contracts/l2/system/L2ToL1MessagePasser.sol
  contracts/contracts/mock/L1OverflowTester.sol
  contracts/contracts/mock/L2OverflowTester.sol
  contracts/contracts/test/Distribute.t.sol
  contracts/contracts/test/Gov.t.sol
  contracts/contracts/test/L1CrossDomainMessenger.t.sol
  contracts/contracts/test/L1CustomERC20Gateway.t.sol
  contracts/contracts/test/L1ERC721Gateway.t.sol
  contracts/contracts/test/L1ETHGateway.t.sol
  contracts/contracts/test/L1MessageQueue.t.sol
  contracts/contracts/test/L1StandardERC20Gateway.t.sol
  contracts/contracts/test/L2CrossDomainMessenger.t.sol
  contracts/contracts/test/L2CustomERC20Gateway.t.sol
  contracts/contracts/test/L2ERC1155Gateway.t.sol
  contracts/contracts/test/L2ERC721Gateway.t.sol
  contracts/contracts/test/L2ETHGateway.t.sol
  contracts/contracts/test/L2GatewayRouter.t.sol
  contracts/contracts/test/L2Staking.t.sol
  contracts/contracts/test/L2StandardERC20Gateway.t.sol
  contracts/contracts/test/L2WETHGateway.t.sol
  contracts/contracts/test/MorphToken.t.sol
  contracts/contracts/test/Record.t.sol
  contracts/contracts/test/Rollup.t.sol
  contracts/contracts/test/Sequencer.t.sol
  contracts/contracts/test/base/CommonTest.t.sol
  contracts/contracts/test/base/L1GatewayBase.t.sol
  contracts/contracts/test/base/L1MessageBase.t.sol
  contracts/contracts/test/base/L2GasPriceOracle.t.sol
  contracts/contracts/test/base/L2GatewayBase.t.sol
  contracts/contracts/test/base/L2MessageBase.t.sol
  contracts/contracts/test/base/L2StakingBase.t.sol
Labels: enhancement, contracts

#317 record batch index metric
  node/core/batch.go
  node/core/metrics.gen.go
  node/core/metrics.go
Labels: node, release/0.1.x

#324 Update unit test for morph token contract
  contracts/contracts/l2/system/MorphToken.sol
  contracts/contracts/test/MorphToken.t.sol
Labels: contracts, test

#310 Record batch submission and batch epoch
  oracle/Makefile
  oracle/config/config.go
  oracle/flags/flags.go
  oracle/go.mod
  oracle/oracle/batch.go
  oracle/oracle/oracle.go
  oracle/oracle/oracle_test.go
  oracle/oracle/reward.go
  oracle/oracle/rollup.go
Labels: go, oracle

#325 Improve gov contract
  bindings/bin/gov_deployed.hex
  bindings/bin/morphtoken_deployed.hex
  bindings/bindings/gov.go
  bindings/bindings/gov_more.go
  bindings/bindings/morphtoken.go
  bindings/bindings/morphtoken_more.go
  contracts/.solhint.json
  contracts/contracts/l2/staking/Gov.sol
  contracts/contracts/l2/staking/IGov.sol
  contracts/contracts/test/Gov.t.sol
  contracts/contracts/test/base/L2StakingBase.t.sol
  contracts/tasks/check.ts
  ops/l2-genesis/deploy-config/devnet-deploy-config.json
  ops/l2-genesis/deploy-config/holesky-deploy-config.json
  ops/l2-genesis/deploy-config/qanet-deploy-config.json
  ops/l2-genesis/deploy-config/testnet-deploy-config.json
  ops/l2-genesis/op-chain-ops/genesis/config.go
  ops/l2-genesis/op-chain-ops/genesis/layer_two_test.go
Labels: enhancement, contracts, audit_issue_fix

#328 Fix contract lint
  contracts/.solhintignore
  contracts/Makefile
  contracts/contracts/libraries/constants/Predeploys.sol
Labels: contracts

#333 Add lint to workflow & fix lint
  .github/workflows/contracts.yml
  .github/workflows/deployer.yml
  .github/workflows/node.yml
  .github/workflows/oracle.yml
  .github/workflows/tx-submitter.yml
  .gitignore
  .prettierrc.json
  bindings/Makefile
  bindings/gen/main.go
  bindings/hardhat/hardhat.go
  bindings/hardhat/types.go
  build/.golangci.yml
  build/lint.go
  contracts/.prettierrc.json
  contracts/Makefile
  contracts/go.mod
  contracts/go.sum
  contracts/scripts/differential-testing/differential-testing.go
  contracts/scripts/differential-testing/encode_test.go
  gas-oracle/contracts/GasPriceOracle.sol
  node/Makefile
  node/core/config.go
  node/core/executor.go
  node/core/l1_message_test.go
  node/derivation/batch_info.go
  node/derivation/beacon.go
  node/derivation/config.go
  node/derivation/derivation.go
  node/derivation/derivation_test.go
  node/ops-morph/metricsgen/metricsgen.go
  node/sync/deposit_log.go
  node/sync/syncer_test.go
  node/types/chunk_test.go
  ops/l2-genesis/Makefile
  ops/l2-genesis/cmd/genesis/cmd.go
  ops/l2-genesis/eth/types.go
  ops/l2-genesis/morph-chain-ops/genesis/config.go
  ops/tools/Makefile
  oracle/Makefile
  oracle/flags/flags.go
  oracle/oracle/oracle.go
  tx-submitter/Makefile
  tx-submitter/entry.go
  tx-submitter/services/rollup.go
Labels: enhancement

#334 Transfer owner to system owner
  contracts/src/deploy-config/l1.ts
  contracts/tasks/check.ts
  ops/l2-genesis/morph-chain-ops/genesis/config.go
  ops/l2-genesis/morph-chain-ops/genesis/layer_two_test.go
  ops/l2-genesis/morph-chain-ops/immutables/config.go
  ops/l2-genesis/morph-chain-ops/immutables/immutables.go
Labels: contracts

#335 Add reverse gateway and update l2 gateway router
  bindings/bin/l2gatewayrouter_deployed.hex
  bindings/bindings/l2gatewayrouter.go
  bindings/bindings/l2gatewayrouter_more.go
  contracts/contracts/l1/gateways/L1ReverseCustomGateway.sol
  contracts/contracts/l2/gateways/IL2GatewayRouter.sol
  contracts/contracts/l2/gateways/L2GatewayRouter.sol
  contracts/contracts/l2/gateways/L2ReverseCustomGateway.sol
  contracts/deploy/013-DeployProxys.ts
  contracts/src/deploy-config/l1.ts
Labels: contracts, bindings

#336 Oracle service add metrics
  oracle/metrics/metrics.go
  oracle/oracle/batch.go
  oracle/oracle/oracle.go
  oracle/oracle/reward.go
  oracle/oracle/rollup.go
Labels: go, oracle

#341 GasPriceOracle & Prover
  .github/workflows/gas-oracle.yml
  .vscode/settings.json
  gas-oracle/.env.dev
  gas-oracle/Makefile
  gas-oracle/README.md
  gas-oracle/app/Cargo.lock
  gas-oracle/app/rust-toolchain
  gas-oracle/app/rustfmt.toml
  gas-oracle/app/src/abi/Rollup.json
  gas-oracle/app/src/abi/mod.rs
  gas-oracle/app/src/gas_price_oracle.rs
  gas-oracle/app/src/l1_base_fee.rs
  gas-oracle/app/src/lib.rs
  gas-oracle/app/src/main.rs
  gas-oracle/app/src/metrics.rs
  gas-oracle/app/src/overhead.rs
  gas-oracle/app/src/overhead/blob.rs
  gas-oracle/app/src/overhead/blob_client.rs
  gas-oracle/app/src/overhead/calculate.rs
  gas-oracle/app/src/overhead/mod.rs
  gas-oracle/app/src/overhead/overhead.rs
  gas-oracle/app/src/overhead/typed_tx.rs
  gas-oracle/docker-compose-app-testnet.yml
  gas-oracle/package-lock.json
  ops/docker/docker-compose-4nodes.yml
  prover/challenge-handler/src/abi/Rollup.json
  prover/challenge-handler/src/bin/auto_challenge.rs
  prover/challenge-handler/src/bin/batch_query.rs
  prover/challenge-handler/src/bin/block_query.rs
  prover/challenge-handler/src/handler.rs
  prover/challenge-handler/src/main.rs
  prover/shadow-proving/contract/.env.dev
  prover/shadow-proving/contract/.gitignore
  prover/shadow-proving/contract/README.md
  prover/shadow-proving/contract/bytecode/ShadowRollup.json
  prover/shadow-proving/contract/bytecode/ZkEvmVerifierV1.json
  prover/shadow-proving/contract/compile_and_export.sh
  prover/shadow-proving/contract/contracts/ShadowRollup.sol
  prover/shadow-proving/contract/contracts/libs/IZkEvmVerifier.sol
  prover/shadow-proving/contract/contracts/libs/ZkEvmVerifierV1.sol
  prover/shadow-proving/contract/contracts/libs/plonk-verifier/holesky/plonk_verifier.bin
  prover/shadow-proving/contract/contracts/libs/plonk-verifier/local/plonk_verifier.bin
  prover/shadow-proving/contract/contracts/libs/plonk-verifier/qanetl1/plonk_verifier.bin
  prover/shadow-proving/contract/deploy-config.json
  prover/shadow-proving/contract/deploy.sh
  prover/shadow-proving/contract/hardhat.config.js
  prover/shadow-proving/contract/package-lock.json
  prover/shadow-proving/contract/package.json
  prover/shadow-proving/contract/scripts/deploy.js
  prover/shadow-proving/contract/scripts/prove.js
  prover/shadow-proving/contract/testdata/holesky_proof.json
  prover/shadow-proving/contract/testdata/local_proof.json
  prover/shadow-proving/src/abi/Rollup.json
  prover/shadow-proving/src/main.rs
  prover/shadow-proving/src/shadow_prove.rs
  prover/shadow-proving/src/shadow_rollup.rs
  prover/shadow-proving/src/util.rs
  prover/src/bin/prover_server.rs
  prover/src/prover.rs
Labels: prover, gas-oracle

#345 Fix derivation sync height
  node/derivation/derivation.go
Labels: release/0.1.x
