Repository morph-l2/morph, pull requests merged in 2024-11, with the labels that each got.

#615 Bump contract version to 0.1.0
  contracts/package.json
Labels: contracts

#619 Add fee sum storage
  tx-submitter/db/db.go
  tx-submitter/db/db_test.go
  tx-submitter/entry.go
  tx-submitter/flags/flags.go
  tx-submitter/metrics/metrics.go
  tx-submitter/services/rollup.go
  tx-submitter/utils/config.go
  tx-submitter/utils/methods.go
  tx-submitter/utils/methods_test.go
Labels: tx-submitter, go

#633 Add usdc migration and flatten contracts
  contracts/contracts/libraries/usdc/FiatTokenProxy.sol.flatten
  contracts/contracts/libraries/usdc/FiatTokenV2_2.sol.flatten
  contracts/contracts/libraries/usdc/MigrationUSDC.sol
  contracts/contracts/libraries/usdc/SignatureChecker.sol.flatten
  contracts/tasks/token_deploy.ts
Labels: contracts

#631 Contracts upgrade for removing skip txs
  bindings/bin/l1messagequeuewithgaspriceoracle_deployed.hex
  bindings/bin/multipleversionrollupverifier_deployed.hex
  bindings/bin/rollup_deployed.hex
  bindings/bindings/l1messagequeuewithgaspriceoracle.go
  bindings/bindings/multipleversionrollupverifier.go
  bindings/bindings/rollup.go
  contracts/contracts/l1/rollup/IL1MessageQueue.sol
  contracts/contracts/l1/rollup/IRollup.sol
  contracts/contracts/l1/rollup/L1MessageQueueWithGasPriceOracle.sol
  contracts/contracts/l1/rollup/Rollup.sol
  contracts/contracts/libraries/codec/BatchHeaderCodecV0.sol
  contracts/contracts/libraries/verifier/ISP1Verifier.sol
  contracts/contracts/libraries/verifier/SP1VerifierPlonk.sol
  contracts/contracts/libraries/verifier/ZkEvmVerifierV1.sol
  contracts/contracts/lido/L1LidoGateway.sol
  contracts/contracts/mock/BatchHeaderCodecTest.sol
  contracts/contracts/test/L1CrossDomainMessenger.t.sol
  contracts/contracts/test/L1CustomERC20Gateway.t.sol
  contracts/contracts/test/L1ERC1155Gateway.t.sol
  contracts/contracts/test/L1ERC721Gateway.t.sol
  contracts/contracts/test/L1ETHGateway.t.sol
  contracts/contracts/test/L1MessageQueue.t.sol
  contracts/contracts/test/L1StandardERC20Gateway.t.sol
  contracts/contracts/test/L1WETHGateway.t.sol
  contracts/contracts/test/L2CustomERC20Gateway.t.sol
  contracts/contracts/test/L2ERC1155Gateway.t.sol
  contracts/contracts/test/L2ERC721Gateway.t.sol
  contracts/contracts/test/L2GatewayRouter.t.sol
  contracts/contracts/test/Rollup.t.sol
  contracts/contracts/test/ZkEvmVerifierV1.t.sol
  contracts/contracts/test/base/BatchHeaderCodeV0.t.sol
Labels: enhancement, contracts

#632 feat(tx-submitter): Add L1 Block Growth Monitoring Feature
  tx-submitter/entry.go
  tx-submitter/flags/flags.go
  tx-submitter/l1checker/blockmonitor.go
  tx-submitter/l1checker/blockmonitor_test.go
  tx-submitter/services/rollup.go
  tx-submitter/utils/config.go
Labels: tx-submitter, go

#594 Fix claim all
  bindings/bin/distribute_deployed.hex
  bindings/bindings/distribute.go
  bindings/bindings/distribute_more.go
  contracts/contracts/l2/staking/Distribute.sol
  contracts/contracts/test/L2Staking.t.sol
Labels: bug, contracts, audit_issue_fix, release/0.4.x

#598 Fix get all delegators in pagination
  bindings/bin/l2staking_deployed.hex
  bindings/bindings/l2staking.go
  bindings/bindings/l2staking_more.go
  contracts/contracts/l2/staking/L2Staking.sol
  contracts/contracts/test/L2Staking.t.sol
Labels: bug, contracts, release/0.4.x

#650 Add base height for derivation node
  node/derivation/config.go
  node/derivation/derivation.go
  node/flags/flags.go
  node/validator/config.go
  node/validator/validator.go
Labels: node, validator
